.roboto-condensed-unique {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--weight); /* Use a CSS variable */
  font-style: normal;
}
img {
max-width: 300px;
}