.roboto-condensed-unique {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--weight);
  font-style: normal;
}
img {
  max-width: 300px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.text,
header,
footer,
section {
  max-width: 1200px;
  margin: 0 auto;
}
