.roboto-condensed-unique {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--weight); /* Use a CSS variable */
  font-style: normal;
}
img {
  max-width: 300px;
}
* {
  box-sizing: border-box;
}

footer {
  text-align: center;
  background: url("https://cspv.colorado.edu/wp-content/uploads/2024/04/Columbine-High-scaled.webp");
  background-size: contain;
  margin-top: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.rule-item {
  border: 2px solid #c4c4c4;
  border-radius: 20px;
  padding: 20px;
}

.rule-item p:first-child {
  font-weight: bold;
  font-size: 18px;
}
